 <app-header></app-header>

<!--<app-product-view-details></app-product-view-details>-->
<router-outlet></router-outlet> 
<!-- <app-my-orders></app-my-orders> -->
<!-- <app-my-orders></app-my-orders> -->

<!-- <app-show-product-images-dialog></app-show-product-images-dialog> -->
<!--<app-login></app-login> -->
<!-- <app-product-view-details></app-product-view-details> -->
<!-- <app-forbidden></app-forbidden> -->
<!-- <app-add-new-product></app-add-new-product> -->
<!-- <app-product-view-details></app-product-view-details> -->
<!-- <app-home></app-home> -->
<!-- <app-user></app-user> -->

<!-- <app-show-product-images-dialog></app-show-product-images-dialog> -->
 <!-- <app-add-new-product></app-add-new-product> -->
<!--<app-buy-product></app-buy-product> -->
<!-- <app-header></app-header> -->
<!-- <app-cart></app-cart> -->
 <!-- <app-show-product-details></app-show-product-details> -->
<!--<app-product-view-details></app-product-view-details> -->